# Upstart configuration file for droned.

# scheme: {{ drone_scheme }}

# Command line options:
#
#   -datasource="drone.sqlite":
#   -driver="sqlite3":
#   -path="":
#   -port=":8080":
#
DRONED_OPTS="-port=:{{ drone_port }}
{%- if drone_sslcert_location %} -sslcert={{ drone_sslcert_location }}{% endif %}
{%- if drone_sslkey_location %} -sslkey={{ drone_sslkey_location }}{% endif %}
{%- if drone_driver %} -driver={{ drone_driver }}{% endif %}
{%- if drone_driver == 'sqlite3' %} -datasource={{ drone_datasource }}{% endif %}
{%- if drone_driver == 'mysql' %} -datasource={{ drone_mysql_user }}:{{ drone_mysql_pass }}@tcp({{ drone_mysql_host}}:{{ drone_mysql_port }})/{{ drone_mysql_dbname }}?parseTime=true{% endif %}
{%- if drone_path %} -path={{ drone_path }}{% endif %}"
