-- MySQL dump 10.13  Distrib 5.5.37, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: drone_io
-- ------------------------------------------------------
-- Server version	5.5.37-0ubuntu0.14.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `builds`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE IF NOT EXISTS `builds` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `commit_id` int(11) DEFAULT NULL,
  `slug` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `started` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `finished` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `duration` int(11) DEFAULT NULL,
  `created` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `updated` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `stdout` text,
  PRIMARY KEY (`id`),
  KEY `idx_builds_on_commit_id` (`commit_id`),
  KEY `idx_builds_on_commit_id_and_slug` (`commit_id`,`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `builds`
--

LOCK TABLES `builds` WRITE;
/*!40000 ALTER TABLE `builds` DISABLE KEYS */;
/*!40000 ALTER TABLE `builds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commits`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE IF NOT EXISTS `commits` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `repo_id` int(11) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `started` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `finished` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `duration` int(11) DEFAULT NULL,
  `attempts` int(11) DEFAULT NULL,
  `hash` varchar(255) DEFAULT NULL,
  `branch` varchar(255) DEFAULT NULL,
  `pull_request` varchar(255) DEFAULT NULL,
  `author` varchar(255) DEFAULT NULL,
  `gravatar` varchar(255) DEFAULT NULL,
  `timestamp` varchar(255) DEFAULT NULL,
  `message` varchar(255) DEFAULT NULL,
  `created` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `updated` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_commits_on_repo_id_and_hash_and_branch` (`repo_id`,`hash`,`branch`),
  KEY `idx_commits_on_repo_id` (`repo_id`),
  KEY `idx_commits_on_repo_id_and_branch` (`repo_id`,`branch`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commits`
--

LOCK TABLES `commits` WRITE;
/*!40000 ALTER TABLE `commits` DISABLE KEYS */;
/*!40000 ALTER TABLE `commits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `members`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE IF NOT EXISTS `members` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `team_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_members_on_team_id_and_user_id` (`team_id`,`user_id`),
  KEY `idx_members_on_team_id` (`team_id`),
  KEY `idx_members_on_user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `members`
--

LOCK TABLES `members` WRITE;
/*!40000 ALTER TABLE `members` DISABLE KEYS */;
/*!40000 ALTER TABLE `members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migration`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE IF NOT EXISTS `migration` (
  `revision` bigint(20) NOT NULL,
  PRIMARY KEY (`revision`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migration`
--

LOCK TABLES `migration` WRITE;
/*!40000 ALTER TABLE `migration` DISABLE KEYS */;
/*!40000 ALTER TABLE `migration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `repos`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE IF NOT EXISTS `repos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `slug` varchar(255) DEFAULT NULL,
  `host` varchar(255) DEFAULT NULL,
  `owner` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `private` tinyint(1) DEFAULT NULL,
  `disabled` tinyint(1) DEFAULT NULL,
  `disabled_pr` tinyint(1) DEFAULT NULL,
  `privileged` tinyint(1) DEFAULT NULL,
  `timeout` int(11) DEFAULT NULL,
  `scm` varchar(25) DEFAULT NULL,
  `url` varchar(1024) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `public_key` varchar(1024) DEFAULT NULL,
  `private_key` varchar(1024) DEFAULT NULL,
  `params` blob,
  `created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `user_id` int(11) DEFAULT NULL,
  `team_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_repos_on_team_id` (`team_id`),
  KEY `idx_repos_on_user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `repos`
--

LOCK TABLES `repos` WRITE;
/*!40000 ALTER TABLE `repos` DISABLE KEYS */;
/*!40000 ALTER TABLE `repos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE IF NOT EXISTS `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `github_key` varchar(255) DEFAULT NULL,
  `github_secret` varchar(255) DEFAULT NULL,
  `bitbucket_key` varchar(255) DEFAULT NULL,
  `bitbucket_secret` varchar(255) DEFAULT NULL,
  `smtp_server` varchar(1024) DEFAULT NULL,
  `smtp_port` varchar(5) DEFAULT NULL,
  `smtp_address` varchar(1024) DEFAULT NULL,
  `smtp_username` varchar(1024) DEFAULT NULL,
  `smtp_password` varchar(1024) DEFAULT NULL,
  `hostname` varchar(1024) DEFAULT NULL,
  `scheme` varchar(5) DEFAULT NULL,
  `github_domain` varchar(255) DEFAULT NULL,
  `github_apiurl` varchar(255) DEFAULT NULL,
  `open_invitations` tinyint(1) DEFAULT NULL,
  `gitlab_domain` varchar(255) DEFAULT NULL,
  `gitlab_apiurl` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
REPLACE INTO `settings`
    (
        id,
        github_key,
        github_secret,
        github_domain,
        github_apiurl,
        bitbucket_key,
        bitbucket_secret,
        smtp_server,
        smtp_port,
        smtp_address,
        smtp_username,
        smtp_password,
        hostname,
        scheme,
        open_invitations
    )
    VALUES (
        1,
        '{{ drone_github_key }}',
        '{{ drone_github_secret }}',
        '{{ drone_github_domain }}',
        '{{ drone_github_apiurl }}',
        '{{ drone_bitbucket_key }}',
        '{{ drone_bitbucket_secret }}',
        '{{ drone_smtp_server }}',
        '{{ drone_smtp_port }}',
        '{{ drone_smtp_address }}',
        '{{ drone_smtp_username }}',
        '{{ drone_smtp_password }}',
        '{{ drone_hostname }}',
        '{{ drone_scheme }}',
        {{ drone_open_invitations|int }}
    );
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE IF NOT EXISTS `teams` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `slug` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `gravatar` varchar(255) DEFAULT NULL,
  `created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams`
--

LOCK TABLES `teams` WRITE;
/*!40000 ALTER TABLE `teams` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE IF NOT EXISTS `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `token` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `gravatar` varchar(255) DEFAULT NULL,
  `created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `admin` tinyint(1) DEFAULT NULL,
  `github_login` varchar(255) DEFAULT NULL,
  `github_token` varchar(255) DEFAULT NULL,
  `bitbucket_login` varchar(255) DEFAULT NULL,
  `bitbucket_token` varchar(255) DEFAULT NULL,
  `bitbucket_secret` varchar(255) DEFAULT NULL,
  `gitlab_token` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `token` (`token`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
{% for user in drone_users %}
{% if user['state']|default('present') == 'absent' %}
DELETE FROM "users" WHERE email = '{{ user.email }}';
{% else %}
INSERT INTO `users`
    (
        id,
        email,
        password,
        token,
        name,
        gravatar,
        created,
        updated,
        admin,
        github_login,
        github_token,
        bitbucket_login,
        bitbucket_token,
        bitbucket_secret
    )
    VALUES (
        {{ loop.index }},
        '{{ user.email }}',
        '{{ user["password"]|default("") }}',
        '{{ user.email|md5|b64encode|truncate(40, True, '') }}',
        '{{ user.name }}',
        '{{ user.email|md5 }}',
        NOW(),
        NOW(),
        {{ user["admin"]|default(True)|int }},
        '{{ user["github_login"]|default("") }}',
        '{{ user["github_token"]|default("") }}',
        '{{ user["bitbucket_login"]|default("") }}',
        '{{ user["bitbucket_token"]|default("") }}',
        '{{ user["bitbucket_secret"]|default("") }}'
    )
    ON DUPLICATE KEY UPDATE
{% if user.email %}
        email='{{ user.email }}',
{% endif %}
{% if user['update_password']|default(False) %}
        password='{{ user["password"]|default("") }}',
{% endif %}
        token='{{ user.email|md5|b64encode|truncate(40, True, '') }},
{% if user.name %}
        name='{{ user.name }}',
{% endif %}
        gravatar='{{ user.email|md5 }}',
        updated=NOW(),
{% if user.admin %}
        admin={{ user["admin"]|default(True)|int }},
{% endif %}
{% if user.["github_login"] %}
        github_login='{{ user["github_login"]|default("") }}',
{% endif %}
{% if user.["github_token"] %}
        github_token='{{ user["github_token"]|default("") }}',
{% endif %}
{% if user.["bitbucket_login"] %}
        bitbucket_login='{{ user["bitbucket_login"]|default("") }}',
{% endif %}
{% if user.["bitbucket_token"] %}
        bitbucket_token='{{ user["bitbucket_token"]|default("") }}',
{% endif %}
{% if user.["bitbucket_secret"] %}
        bitbucket_secret='{{ user["bitbucket_secret"]|default("") }}';
{% endif %}
{% endif %}
{% endfor %}
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2014-05-06 21:01:24
